.main {
  height: 100vh;
  background: url("../../images/stars.svg"), #1b1b25;
  background-size: cover;
  background-repeat: repeat;
}
.form {
  width: 95%;
  padding: 2% 0 0 2%;
}
.form--title {
  margin: 1% 0 4% 35%;
  color: #ffff;
  font-size: 50px;
}

.select-img {
  width: 70%;
  height: 100%;
  margin: -5% 0 0 25%;
}

label {
  margin: 0 0 1% 5%;
  font-size: 20px;
  color: #ffff;
}

.form-group .form-control {
  width: 80%;
}

.create-button {
  margin: 1% 0 2% 27%;
  border: 1px solid #0010f094;
  border-radius: 10px;
  background: #0010f094;
  outline: none;
  color: #ffff;
  padding: 1%;
  
}

.prev-button {
  border: 1px solid #0010f094;
  border-radius: 10px;
  background: #0010f094;
  outline: none;
  color: #ffff;
  padding: 1%;
  margin-left: 1%;
}

