.main {
  min-height: 100vh;
  background: url("../../images/stars.svg"), #1b1b25;
  background-size: cover;
  background-repeat: repeat;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.title {
  text-align: center;
  padding: 10% 0;
  color: #ffff;
  font-size: 30px;
}
.form_container {
  width: 100%;
  margin: 10% 0;
}

form {
  width: 90%;
  margin: 5% auto;
}

label {
  margin: 0 0 1% 5%;
  font-size: 16px;
  color: #ffff;
}

.form-group .form-control {
  width: 90%;
  margin-left: 5%;
}

.create-button {
  min-width: 50%;
  border: 1px solid #0010f094;
  border-radius: 10px;
  background: #0010f094;
  outline: none;
  color: #ffff;
  margin: 5% 25%;
  padding: 12px 20px;
}

.main h4 {
  color: #f1f1f1;
  text-decoration: underline;
}

.real-time {
  position: relative;
  min-width: 70%;
  min-height: 180px;
  background: #f1f1f1;
  border-radius: 12px;
  text-align: left;
  margin: 5% auto;
  padding: 5%;
  color: #060606;
}

.real-time .real-time-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.real-time .real-time-description {
  font-size: 14px;
  margin: 0;
}

.real-time .real-time-price,
.real-time-stock {
  font-size: 12px;
  margin: 0;
}

.real-time .product_icons--container {
  position: absolute;
  min-width: 40%;
  bottom: 0;
  left: 0;
}
