.home{
    height: 100vh;
    background: url(../../images/stars.svg), #1b1b25;
    background-size: cover;
    background-repeat: repeat;
}

.home__title{
    color: #fff;
    padding: 2.8rem 5rem 0 18rem;
    font-size:60px;
}

.home__container-image > img{
    width: 450px;
    height: 450px;
    margin-left: 15rem;
}
.home__container{
    display:flex;
}
.home__container-button{
    border: 1px solid black;
    border-radius: 10px;
    color: #ffff;
    text-decoration: none;
    margin: 13rem 3rem;  
    padding:1rem;
    text-align:center;
    background: #0010f094;
}



